.developer_container{
    height: calc(100vh - 54px);
    display: flex;
    .aside{
        height: 100%;
        background-color:#F6F6F6;
        padding: 60px 20px;
        position: fixed;
        width: 300px;
        top: 56px;
        left: 0;

        .sub_title{
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .layout{
            margin-bottom: 50px;
            &:nth-last-child(1){
                padding-top: 50px;
                border-top:1px solid #DBDBDB;
            }
            .link_lists{
                .link{
                    .icon{
                        margin-right: 10px;
                        padding-left: 10px;
                        margin-left: 10px;
                    }
                    &:hover{
                        border-radius: 8px;
                        background-color: #F0F0F0;
                        .icon{
                            &.ico_key{
                                background-image: url("../img/icon/ico_key_active.png");
                            }
                            &.ico_paper_plane{
                                background-image: url("../img/icon/ico_paper_plane_active.png");
                            }
                            &.ico_shield_check{
                                background-image: url("../img/icon/ico_shield_check_active.png");
                            }
                            &.ico_document_sign{
                                background-image: url("../img/icon/ico_document_sign_active.png");
                            }

                            &.ico_book_alt{
                                background-image: url("../img/icon/ico_book_alt_active.png");
                            }
                            &.ico_interrogation{
                                background-image: url("../img/icon/ico_interrogation_active.png");
                            }
                            &.ico_github{
                                background-image: url("../img/icon/ico_github_active.png");
                            }
                        }
                    }
                    a{
                        padding: 16px 10px 16px 0px;
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        color: #52525B;

                    }

                }
            }
        }
    }
    .developer_content{
        height: 100%;
        padding: 80px 0px;
        flex: 1 1 auto;
        .developer_section{
            max-width: 780px;
            margin: 0 auto;
            .title_area{
                margin-bottom: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .title{
                    position: relative;
                    font-size: 30px;
                    font-weight: 700;
                    &.test{
                        &:before{
                            position: absolute;
                            content: 'TEST';
                            font-size: 15px;
                            font-weight: bold;
                            right: -42px;
                            top: 0;
                            color: #62BB00;
                        }
                    }

                }
                .guide_link{
                    color: #0086F1;
                    span{
                        text-decoration: underline;
                    }
                }

            }
            .input__area{
                margin-bottom: 60px;
                .input_title{
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                .input_copy_box{
                    position: relative;
                    display: flex;
                    label{
                        flex: 1 1 auto;
                        input{
                            font-size: 17px;
                        }
                    }
                    .icon{
                        cursor: pointer;
                        margin-left: 20px;
                        &:hover{
                            background-image: url("../img/icon/ico_copy_active.png");
                        }
                    }

                }
            }
            .caption_text{
                margin-top: 12px;
                color: #BABAC2;
                font-size: 15px;
                span{
                    vertical-align: middle;
                }
                .icon{
                    margin-right: 10px;
                }
            }
        }
    }

}