.membership_section{
    padding: 80px 30px;
    margin: 0 auto;
    max-width: 1060px;

    .main_title{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 40px;
    }
    .title_area{
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title{
            font-size: 30px;
            font-weight: 700;
        }
        &.detail{
            justify-content: flex-start;
            margin-bottom: 40px;
            .title{
                color: #1F1F1F;
                font-weight: 500;
                &:hover{
                    text-decoration: underline;
                }
                a{
                    color: inherit;
                }
            }
            span{
                margin-left: 22px;
                font-size: 30px;
                font-weight: 700;
                i{
                    margin-right: 22px;
                }
                a{
                    color: #1F1F1F;
                }
            }
        }

    }
    .membership_area{
        margin-bottom: 90px;

        .badge{
                color: #7852E8;
                background-color: #F0EDFF;
                border-radius: 22px;
                padding: 8px 10px;
                display: inline-block;
                margin-bottom: 15px;
                vertical-align: middle;
                font-size: 14px;
                font-weight: 600;
                .icon{
                    margin-right: 4px;
                    vertical-align: baseline;
                }
            }


        &:nth-last-child(1){
            margin-bottom: 0;
        }
        .validation_area{
            margin-top: 5px;
        }
        .input_title{
            position: relative;
            display: inline-block;
            font-weight: 700;
            &.essentials{
                &:before{
                    right: -10px;
                    top: -2px;
                    position: absolute;

                    content: '*';
                    display: inline-block;
                    color: #FF3131;
                }
            }

        }
        .title_area{
            position: relative;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .speech_bubble{
                top: -26px;
                display: none;
                left: 98px;
                font-size: 12px;
                position: absolute;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 0 7px rgba(0,0,0,.15);
                padding: 10px 15px;
                &:after{
                    content: "";
                    position: absolute;
                    top: 29px;
                    width: 10px;
                    height: 10px;
                    z-index: 1000;
                    left: -4px;
                    border: 1px solid #fff;
                    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
                    transform: rotate(130deg);
                    background-color: #fff;
                }
                .title{
                    font-size: 12px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                .desc{
                    margin-bottom: 5px;
                    &:nth-last-child(1){
                        margin-bottom: 0;
                    }
                }

            }
            .title{
                font-size: 22px;
                font-weight: 700;
                .ico_interrogation_fill_gray{
                    vertical-align: top;
                    cursor: pointer;
                    margin-left: 5px;
                }
            }
            &.detail{
                justify-content: flex-start;
                margin-bottom: 62px;
                .title{

                    color: #1F1F1F;
                    font-weight: 500;
                    &:hover{
                        text-decoration: underline;
                    }
                    a{
                        color: inherit;
                    }
                }
                span{
                    margin-left: 53px;
                    font-size: 30px;
                    font-weight: 700;
                    i{
                        margin-right: 22px;
                    }
                    a{
                        color: #1F1F1F;
                    }
                }
            }

        }
        .border_line{
            border-radius: 15px;
            overflow: hidden;
            border: 1px solid #ced4da;
            .response_table{
                width: 100%;
                margin: 0 auto;
                &.table_space_normal{
                    table{
                        white-space: normal;
                        word-break: break-all;
                        td,th{
                            white-space: normal;
                            word-break: break-all;
                        }
                    }
                }
            }
            .pagination_area{
                padding: 40px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .pagination_list{
                    display: flex;
                    >li{
                        font-size: 15px;
                        cursor: pointer;
                        color: #BABAC2;
                        margin-left: 20px;
                        &.active{
                            font-weight: 700;
                        }
                        &:nth-last-child(1){
                            margin-right: 20px;
                        }
                    }

                }
                .pagination_arrow {
                    cursor: pointer;
                    &.first_button{
                        margin-right: 10px;
                    }
                    &.last_button{
                        margin-left: 10px;
                    }
                }
            }

        }
        table{
            width: 100%;
            th{
                padding: 11px 10px;
                background-color: #F6F6F6;
                text-align: center;
                color: #52525B;
                font-weight: 500;
                &.check_table{
                    text-align: center;
                }
            }
            td{
                border-bottom: 1px solid #F0F0F0;
                padding: 11px 10px;
                text-align: center;
                &.check_table{
                    text-align: center;
                }
                &.empty_data{
                    text-align: center;
                    padding: 55px 0;
                    border-bottom: none;
                    &.no_search{
                        padding: 90px 0;
                        color: #52525B;
                    }
                }
            }

        }
        .search_card{
            padding: 24px;
            border-radius: 15px;
            border: 1px solid #ced4da;
            margin-bottom: 20px;
            &:nth-last-child(1){
                margin-bottom: 0;
            }
            .authority_list{
                li{
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 16px;
                    margin-bottom: 10px;
                    @include res-sm{
                        flex-direction: column;
                        margin-bottom: 30px;
                    }
                    &:nth-last-child(1){
                        margin-bottom: 0;
                    }
                    .authority_title{
                        font-weight: 700;
                        margin-right: 28px;
                        flex: 0 0 80px;
                        @include res-sm{
                            flex: 1 1 auto;
                            margin-bottom: 20px;
                            margin-right: 0;
                        }
                    }
                    .menu{
                        position: relative;
                        margin-right: 10px;
                        @include res-sm{
                            margin-bottom: 10px;
                        }
                        &:after{
                            position: absolute;
                            display: inline-block;
                            content: '/';
                            top: 50%;
                            transform: translateY(-50%);
                            right: -8px;
                            @include res-sm{
                                display: none;
                            }
                        }
                        &:last-child{
                            &:after{
                                display: none;
                            }

                        }
                    }
                }
            }
            .btn_area{
                display: flex;
                justify-content: flex-end;
                margin-bottom: 5px;
                .btn{
                    min-width: 122px;
                }
            }
            .input__area__list{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom:30px ;

                .input__area{
                    flex: 0 0 calc(50% - 10px);
                    @include res-sm{
                        flex: 1 1 100%;
                    }
                    .caption_area{
                        margin-top: 10px;
                        margin-left: 20px;
                        p{
                            word-break: keep-all;
                            color: #52525B;
                            font-size: 13px;
                            line-height: 1.3;
                            span{
                                font-weight: 700;
                                margin-right: 6px;
                                position: relative;
                                &:before{
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    left: -15px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    background-image: url("https://image.payple.kr/onboard/icon/ico_alert_white_gray.png");
                                    width: 13px;
                                    height: 13px;
                                    vertical-align: middle;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-size: cover;

                                }
                                &:after{
                                    content: '|';
                                    display: inline-block;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: -5px;
                                }
                            }
                        }
                    }
                }
            }
            .check__area__list{

                .check__list_title{
                    font-size: 16px;
                    font-weight: 700;
                    color: #28282e;
                    margin-bottom: 15px;
                }
                .check__list{
                    li{
                        margin-bottom: 15px;
                    }
                    .check_list_select{
                        display: flex;
                        flex-wrap: wrap;
                        li{
                            @include res-sm{
                                flex: 1 1 100%;
                            }
                            margin-right: 20px;

                            span{
                                margin-right:8px;
                            }
                        }
                    }
                }
            }

        }

    }

}